#text{
    text-align: justify;
}

textarea{
    resize: none;
    height: 150px;
}

:root{
    --blue00:hsl(207, 65%, 5%);
    --blue01:#091b2a;
    --blue02:hsl(207, 65%, 30%);
    --blue03:hsl(207, 65%, 40%);
    --blue04:hsl(207, 65%, 50%);
    --blue04:hsl(207, 65%, 60%);
    --blue05:hsl(207, 65%, 70%);
    --blue06:hsl(207, 65%, 80%);
    --pink: #dc143c;
    --white01: #FFF;
}

.bg-image{
    background-image: url(../img/Produto/pexels-pixabay-417054.jpg);
}


.bg-nav{background-color: var(--blue00);}

.bg-blue01{background-color: var(--blue01);}

.text-pink{color: var(--pink);}

.text-blue02{color: var(--blue02);}

.text-white01{color: var(--white01);}



